.navbar {
    width: 250px;
    background-color: #00afb9;
    color: white;
    height: 100vh;
    padding: 10px;
    overflow-y: auto;
    position: fixed;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
}

.nav-button {
    background: #fed9b7;
    color: black;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.nav-button:hover {
    background: #777;
}
